<%= render 'shared/errors', obj: @question %>

<div class="row">
  <div class='col-xs-12'>
    <%= form_for(@question, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>  
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :content %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :content, rows:10, class: "form-control", placeholder: "Content", autofocus: true %>
        </div>
      </div> 
        <div class="form-group">
          <div class="center">
          <%= f.submit(@question.new_record? ? "Submit question" : "Update question", class: "btn btn-primary")%>
          </div>
        </div>  
    <%end%>
    <div class="form-group">
          <div class="center">
           [<%= link_to "Cancel request and return to listing", questions_path %>] 
          </div>
    </div>
  </div>
 </div> 