<table class="table table-striped table-hover">
  <th> Question ID </th>
  <th>Title</th>
  <th>Content</th>
  <th>Action</th>
  <% @questions.each do |question| %>
      <tr>
        <td> </td>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td>
          <%=link_to 'edit', edit_question_path(question) %> 
          <%=link_to 'show', question_path(question) %>
          <%=link_to 'delete', question_path(question), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
        </td>
      </tr>
    <%end%>
</table>