<%= render 'shared/errors', obj: @survey %>

<div class="row">
  <div class='col-xs-12'>
    <%= form_for(@survey, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Survey name", autofocus: true %>
        </div>
      </div>  
      

        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <p>Attach the following questions:</p>
              <%= f.collection_check_boxes :question_ids, Question.all, :id, :title do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
            <%= f.fields_for(:questions, Question.new) do |quest_form| %>
              <p>Add a new question:
                <%= quest_form.text_field :title %>
              </p>
            <% end %>
            </div>
          </div>
        </div>
   


        <div class="form-group">
          <div class="center">
          <%= f.submit(@survey.new_record? ? "Submit questionnaire" : "Update questionnaire", class: "btn btn-primary")%>
          </div>
        </div>  
    <%end%>
    <div class="form-group">
          <div class="center">
           [<%= link_to "Cancel request and return to listing", surveys_path %>] 
          </div>
    </div>
  </div>
 </div> 